

#intro{
    margin: auto;
    width: 80%;
    height: auto;
    border-radius: 25px;
}

#profile-icon{
    height: 200px;
    border-radius: 50%;
    position: relative;
    display: block;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
}

#slash{
    position: relative;
    display: block;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a:link, a:visited{
    color: blue;
}

#description{
    font-size: 30px;
    position: relative;
    display: block;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;
    
}

#averageRating{
    font-size: 40px;
    font-family: 'Courier New';
    position: relative;
    display: block;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}





/* Style the container with a rounded border, grey background and some padding and margin */
.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 10px 0;
}



  
/* Clear floats after containers */
.container::after {
content: "";
clear: both;
display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container img {
float: left;
margin-right: 20px;
border-radius: 50%;
}

/* Increase the font-size of a span element */
.container span {
font-size: 40px;
margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
.container {
    text-align: center;

}

.container img {
    margin: auto;
    float: none;
    display: block;
}




}


.rating{
    text-align: right;
    float: right;
    right: 100px;
}

#teamImage{
    width: 80px;
    position: relative;
    top: -200%;
    display: block;
}





/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


/* Style the submit button with a specific background color etc */
#NewCommentSubmit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
#NewCommentSubmit:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.containerForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.ratingStars {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
}
[dir="rtl"] .rating {
    --dir: left;
}
.ratingStars::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
}
.ratingStars::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.ratingStars::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
}
.ratingStars::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
}
.ratingStars, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
}
.rating-label {
    margin-block-end: 1rem; 
}

